* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

h1 {
    position: relative;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 45px;
    padding-top: 50px;
}

input[type="text"] {
    margin-bottom: 50px;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    padding: 5px;
    padding-left: 10px;
    border: none;
    background-color: #E1F6FE ;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    box-shadow: 1px 1px 35px 2px grey;
    padding-bottom: 80px;
}

li {
    list-style-type: none;
    border-top: 1px solid black;
    font-size: 20px;
}

li:hover {
    background-color: #3A98FE ;
}

li:hover a, li:hover i {
    color: white;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    display: inline-block;
    padding: 10px;
}

i {
    padding-left: 5px;
    display: inline-block;
}

.container {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.wordColor {
    color:#3e5ba9;
}

.excelColor {
    color:#0da056;
}

.powerpointColor {
    color:#f89a1d;
}

.pdfColor {
    color:#df4430;
}

.txtColor {
    color:#000000;
}

.resultContent {
    color:#888888;
    font-size: small;
}

.path {
    color:#888888;
    font-size: smaller;
}