/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
GENERAL STYLES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 100%/1.5 "Open Sans", sans-serif;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
TEXT STYLES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
h1 {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    display: inline-block;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
STYLE INPUT SEARCH-BOX
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.input-wrapper {
    position: fixed;
    left: 10%;
    right: 0;
    z-index: 100;
}

.search-input {
    display: block;
    width: 100%;
    padding: 0.5em 0.6667em;
    margin: 0;
    font: inherit;
    font-size: 1.5em;
    border: 0;
}

.search-input:focus {
    outline: none;
}

.search-options {
    display: -webkit-flex;
    display: flex;
}

.search-options label {
    display: block;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

.search-options [type="checkbox"] {
    display: none;
}

.search-options .label {
    display: block;
    padding: 0.25em 1em;
    background-color: #ededed;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.search-options [type="checkbox"]:checked + .label {
    color: #fff;
    background-color: #4cadeb;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
WRAPPER STYLES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
    overflow: hidden;
}

body::after {
    content: "";
    display: table;
    clear: both;
}

.sidebar {
    position: relative;
    width: 10%;
    float: left;
    background-color: #ededed;
    border-right: 1px solid #dadada;
    z-index: 1000;
}

.path {
    color:#888888;
    font-size: smaller;
}

.content-wrapper {
    width: 90%;
    height: 100%;
    float: right;
    position: relative;
    overflow: scroll;
}

.content {
    position: relative;
    margin-top: 5.75em;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
LIST STYLES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.unstyled-list {
    list-style: none;
    padding-left: 0;
}

.roles-list li {
    position: relative;
    height: 14.2857vh;
}

.files-list li:first-child {
    border-top: 0;
}

.files-list li {
    position: relative;
    border-top: 1px solid #dadada;
    transition: background-color 0.25s ease-in-out;
}

.files-list li::after {
    content: "";
    display: table;
    clear: both;
}

.files-list a {
    display: block;
    height: 3.75em;
}

.files-list [data-role] {
    right: 0.5em;
    left: auto;
    margin-left: 0;
    font-size: 1em;
}

.files-list li:hover {
    background-color: rgba(76, 173, 235, 0.35);
}

.file-name {
    padding-top: 0.5em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
ICON STYLES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.icon {
    display: block;
    height: 3em;
    width: 3em;
    float: left;
    text-align: center;
    line-height: 3em;
}

.fa {
    font-size: 20px;
}

.wordColor {
    color:#3e5ba9;
}

.excelColor {
    color:#0da056;
}

.powerpointColor {
    color:#f89a1d;
}

.pdfColor {
    color:#df4430;
}

.txtColor {
    color:#000000;
}

.resultContent {
    color:#888888;
    font-size: small;
}

/**
 * LABELS
 */

[data-role] {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3em;
    width: 3em;
    padding: 0.25em 0.5em;
    margin-right: 0;
    margin-top: -1.5em;
    margin-left: -1.5em;
    font-size: 1.25em;
    line-height: 2.5;
    text-align: center;
    color: #fff;
    border-radius: 100%;
}

[data-role="IM"] {
    background-color: #4cadeb;
}

[data-role="SA"] {
    background-color: #DE4F48;
}

[data-role="QS"] {
    background-color: #79EB4C;
}

[data-role="USE"] {
    background-color: #EBD04C;
}

[data-role="ST"] {
    background-color: #4CEB9B;
}

[data-role="RE"] {
    background-color: #664CEB;
}

[data-role="MP"] {
    background-color: #EB4CEB;
}