/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
GENERAL STYLES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 100%/1.5 "Open Sans", sans-serif;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
TEXT STYLES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
h1 {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    display: inline-block;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
STYLE INPUT SEARCH-BOX
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.input-wrapper {
    position: fixed;
    left: 10%;
    top: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(30, 30, 30, 0.15);
}

.search-input {
    display: block;
    width: 100%;
    padding: 0.5em 0.6667em;
    margin: 0;
    font: inherit;
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #dadada;
    cursor: pointer;
}

.search-input:focus {
    outline: none;
    cursor: text;
}

.search-options {
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #dadada;
}

.search-options .label {
    display: block;
    -webkit-flex: 1 0 33.333%;
    flex: 1 0 33.333%;
    padding: 0.25em 1em;
    background-color: #ededed;
    cursor: pointer;
}

.search-options .label:first-child {
    border-right: 1px solid #dadada;
}

.search-options .active {
    color: #4cadeb;
}

.search-options .active::before {
    content: "\2713";
    margin-right: 0.5em;
    color: #4cadeb;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
WRAPPER STYLES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
    overflow: hidden;
}

body::after {
    content: "";
    display: table;
    clear: both;
}

.sidebar {
    position: relative;
    width: 10%;
    float: left;
    background-color: #ededed;
}

.path {
    color:#888888;
    font-size: smaller;
}

.content-wrapper {
    width: 90%;
    height: 100%;
    float: right;
    position: relative;
    padding-top: 5.75em;
    box-shadow: 0 1px 3px rgba(30, 30, 30, 0.55);
}

.content {
    height: 100%;
    overflow: scroll;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
LIST STYLES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.unstyled-list {
    list-style: none;
    padding-left: 0;
}

.roles-list li {
    position: relative;
    height: 14.2857vh;
}

.roles-list [data-role] {
    cursor: pointer;
    transition: opacity 0.25s ease-in-out;
    border-radius: 0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    display: table-cell;
    line-height: 14.2857vh;
    -webkit-transform: translateZ(0);
}

.files-list li:first-child {
    border-top: 0;
}

.files-list li {
    position: relative;
    border-top: 1px solid #dadada;
    transition: background-color 0.25s ease-in-out;
}

.files-list li::after {
    content: "";
    display: table;
    clear: both;
}

.files-list a {
    display: block;
    min-height: 3.75em;
}

.files-list [data-role] {
    right: 0.5em;
    left: auto;
    margin-left: 0;
    font-size: 1em;
}

.files-list li:hover {
    background-color: rgba(76, 173, 235, 0.1);
}

.file-name {
    padding-top: 0.5em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
ICON STYLES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.icon {
    display: block;
    height: 3em;
    width: 3em;
    float: left;
    text-align: center;
    line-height: 3em;
    font-size: 20px;
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?z645aq');
  src: url('fonts/icomoon.eot?z645aq#iefix') format('embedded-opentype'),
       url('fonts/icomoon.ttf?z645aq') format('truetype'),
       url('fonts/icomoon.woff?z645aq') format('woff'),
       url('fonts/icomoon.svg?z645aq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-txt:before {
    content: "\f0f6";
    color:#000000;
}

.icon-pdf:before {
    content: "\f1c1";
    color:#df4430;
}

.icon-doc:before,
.icon-docx:before {
    content: "\f1c2";
    color:#3e5ba9;
}

.icon-xls:before,
.icon-xlsx:before {
    content: "\f1c3";
    color:#0da056;
}

.icon-ppt:before,
.icon-pptx:before {
    content: "\f1c4";
    color:#f89a1d;
}

.result-content {
    margin: 1.5em 6em 1.5em 4.5em;
    color: #888;
    font-size: small;
    border: 1px solid #dadada;
    border-radius: 3px;
    padding: 1.5em;
    background-color: #fff;
}

.omission {
    display: block;
    margin: 0.75em -1.5em;
    padding: 0 1.5em;
    background-color: #f8fafd;
}

.match {
    padding: 0.25em;
    background-color: rgba(255, 255, 140, 0.5);
    border-radius: 3px;
}

/**
 * LABELS
 */

[data-role] {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3em;
    width: 3em;
    padding: 0.25em 0.5em;
    margin-right: 0;
    margin-top: -1.5em;
    margin-left: -1.5em;
    font-size: 1.25em;
    line-height: 2.5;
    text-align: center;
    color: #fff;
    border-radius: 100%;
}

[data-role="IM"] {
    background-color: #4cadeb;
}

[data-role="SA"] {
    background-color: #DE4F48;
}

[data-role="QM"] {
    background-color: #79EB4C;
}

[data-role="USE"] {
    background-color: #4CEB9B;
}

[data-role="ST"] {
    background-color: #664CEB;
}

[data-role="RE"] {
    background-color: #EBD04C;
}

[data-role="PM"] {
    background-color: #EB4CEB;
}

.disabled {
    opacity: 0.2;
}

/**
 * MODAL
 */

.modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5em;
  background-color: #f9f9f9;
  border-top: 1px solid #dedede;
  text-align: right;
}

.modal-description {
  font-size: 0.75em;
  line-height: 2;
  color: #383838;
}

.modal-group {
  margin-bottom: 1.5em;
}

.modal-group:last-child {
  border-bottom: 0;
}

.modal-group p {
  margin-bottom: 1.5em;
}

/**
 * FORMS
 */

input {
  font: inherit;
}

.text-input {
  border: 1px solid #dedede;
  border-radius: 3px;
  padding: 1em 0.75em;
}

.text-input:focus {
  outline: none;
  border-color: #4cadeb;
}

.full-width {
  display: block;
  width: 100%;
}

/**
 * BUTTONS
 */

[data-button] {
  background-color: #4cadeb;
  border-radius: 3px;
  border: 0;
  color: #fff;
  font-weight: bold;
  padding: 0.75em 1em;
  font: inherit;
  cursor: pointer;
}
